<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Estudante</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{form_action}}" method="post">
                    {% csrf_token %}
                    <label for="estudante" class="p-1">Selecione um estudante:</label>
                    <select class="form-select" name="estudante_id" id="estudante">
                        {% for estudante in estudantes %}
                            <option value="{{ estudante.id }}">{{ estudante.nome }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-success">Adicionar</button>
            </div>
            </form>
        </div>
    </div>
</div>