* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.icons > a {
    text-decoration: none;
    margin-right: 10px !important;
}

.pencil {
    color: blue;
}

.trash {
    color: red;
}

.people {
    color: green;
}

.icon {
    text-decoration: none;
    color: blue;
}

.modal-button {
    cursor: pointer !important;
    color: blue !important;
}

#themeSwitcher {
    cursor: pointer !important;
}